.navbar-nav .nav-item {
  padding-right: 1rem;
  font-size: 1.2rem;
}

/* underline for menus */
.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  border-bottom: 5px black;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;

  /* position: absolute; */
  background: rgb(242, 179, 5);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-link:hover:after {
  width: 100%;
  left: 0;
}

/* button */
.main-btn {
  background: linear-gradient(to right, rgb(220, 93, 93), rgb(246, 128, 10));
  color: white;
  outline: 0;
  border: 0;
  padding: 0.625rem 2rem;
  display: inline-block;
  font-weight: bold;
  font-size: 1.2rem;
  box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

/* navbar outline button */
.btn-outline-secondary {
  background: white;

  padding: 0.5rem;
  display: inline-block;

  box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(220, 93, 93), rgb(246, 128, 10)) 1;
}

.btn-outline-secondary:hover {
  background: linear-gradient(to right, rgb(220, 93, 93), rgb(246, 128, 10));
  color: white;
}

/* image */
.back-image {
  width: 100%;
  background: url("./Images/img2.jpg");
  background-size: cover;
  padding: 16.875rem 3rem;
}

.top-text h1 {
  color: white;
  padding-bottom: 1rem;
}
.top-text p {
  color: white;
  letter-spacing: 0.125rem;
  line-height: 1.3rem;
  padding-bottom: 1rem;
}

/* about image */
.about-image {
  width: 40rem;
  height: 25rem;
}

.about-text p {
    letter-spacing: .1rem;
    line-height: 1.5rem;

}

.card-img-top {
    height:20rem;
 
}